@import "src/variables/variables";

.todoWrapper {
  position: relative;
  padding: 20px;
  width: 600px;
  background: $backgroundTodoList;
  .active {
    background: #000;
  }
  .tasks {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .title {
    height: 40px;
    align-items: center;
    background: $backgroundTodoList;
    color: $titleTextColor;
    margin-bottom: 20px;
    position: relative;
    display: flex;
    .span {
      width: 100%;
    }
    button {
      display: block;
      right: 0;
      height: 100%;
      top: 0;
      padding: 0 20px;
    }
  }
  .input {


  }
  .infoBlock {

    margin-top: 14px;
    color: #7c7c7c;
    font-size: 12px;

    .info {
      margin-right: 10px;
    }
  }
}
