@import "src/variables/variables";

.todoWrapper {
  position: relative;
  padding: 20px;
  width: 600px;
  background: $backgroundTodoList;
  .active {
    background: #000;
  }
  .tasks {
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .title {
    background: $backgroundTodoList;
    color: $titleTextColor;
    margin-bottom: 20px;
  }
  .input {


  }
  .infoBlock {

    margin-top: 14px;
    color: #7c7c7c;
    font-size: 12px;

    .info {
      margin-right: 10px;
    }
  }
}
