@import "src/variables/variables";

.todoWrapper {
  position: relative;
  padding: 20px;
  width: 600px;
  background: $backgroundTodoList;
  .title {
    background: $backgroundTodoList;
    color: $titleTextColor;
    margin-bottom: 10px;
  }
  .input {
    margin-bottom: 10px;
  }
}