

.todoWrapper {
  height: 100%;
  .redBtn {
    background: red;

    border-radius: 50%;

  }
  .common {
    height: 100%;
    background: rgb(70, 130, 179);
    font-family: Montserrat;
    font-weight: 500;
    color: #fff;
    border: none;
    outline: none;
  }
}
