

.todoWrapper {
  height: 100%;

  .redBtn {
    background: #9d8a8a;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    border: none;
    margin-top: 4px;
    color: #fff;
  }
  .common {
    height: 100%;
    background: rgb(70, 130, 179);
    font-family: Montserrat;
    font-weight: 500;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    transition: .1s ease-in-out;
    &:hover {


    }


  }
  .activeBtn {
    background: #bc7757;
  }
}
