

.todoWrapper {
  width: 100%;
  max-width: 600px;

  display: flex;
  flex-direction: column;
   .form {
     display: flex;
     height: 36px;
     background: #fff;
    .btn {
      height: 100%;
      width: 20%;
      position: relative;

      button {
        width: 100%;
        display: block;
        outline: none;
        border: none;
        font-size: 1rem;

      }
    }
   }
  .span {
    background: #fff;
    margin-top: 10px;
    background: transparent;
    transition: .3s ease-in-out;


  }
  .errorSpan {

    transition: .3s ease-in-out;
    color: tomato;


  }
}